.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9ebeb;
}

.wrapper {
  width: 1200px;
  flex-direction: row;
  display: flex;
}

.wrapper_inside {
  width: 70%;
}

.logo {
  height: 50px;
  width: 187.5px;
  object-fit: cover;
  padding: 10px 0;
}
.text_top {
  margin-right: 30px;
}

.text_top p {
  font-size: 20px;
  color: #868a8a;
}

.img_top img {
  width: 350px;
  border-radius: 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.align_top {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f5f5;
  padding-top: 20px;
}

h2,
h3 {
  margin-top: 0;
}

.card_title {
  font-size: 20px;
}

.card_description {
  color: #808484;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_price {
  font-size: 18px;
  color: #808484;
}

.card_popular {
  font-weight: 800;
  font-size: 13px;
  color: #ff8000;
  display: flex;
}

.align_price_popular {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.card_img img {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.card {
  border-radius: 5px;
  height: 130px;
  background: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 100%;
  cursor: pointer;
}

.card:hover {
  box-shadow: 1px 1px 5px #888888;
}

.menuItem {
  width: calc(50% - 10px);
  min-width: 300px;
  padding-bottom: 25px;
  display: flex;
}

.menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-section p {
  margin-top: 0;
}

.menu-section h3 {
  margin-bottom: 8px;
  font-weight: 400;
}

button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background: #bac3c3;
  color: #8b9a9b;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
}

.green {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background: #00cdbd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.product_align {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  margin: 15px 0 0 20px;
  background-color: white;
  height: fit-content;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.product_content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.panier--vide {
  text-align: center;
  padding: 60px 0;
}

.product_test {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}

.product_quantity {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}

.product_reste {
  width: 200px;
}

.product--price {
  width: 50%;
  text-align: right;
}

.product--price--total {
  width: 100%;
  text-align: right;
}

.product--price--sous-total {
  width: 100%;
  text-align: right;
}

.product_total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin-left: 10px;
  font-weight: 600;
  color: #2e3333;
  font-size: 1.2rem;
  border-top: 1px solid grey;
}

.product_align_green {
  max-height: 290px;
  overflow-y: auto;
  width: 100%;
}

.product_align_green::-webkit-scrollbar {
  -webkit-appearance: none;
}

.product_align_green::-webkit-scrollbar:vertical {
  width: 11px;
}

.product_align_green::-webkit-scrollbar:horizontal {
  height: 11px;
}

.product_align_green::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.sous-total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin-left: 10px;
  font-weight: 400;
  color: #2e3333;
  font-size: 16px;
  border-top: 1px solid grey;
}

.test-ss-total {
  display: flex;
  justify-content: space-between;
}
.test-ss-total p {
  padding: 0.5rem 0;
  margin: 0px;
}

.plus {
  margin-left: 3px;
}

.moins {
  margin-right: 3px;
}

.ss-total-total {
  padding-bottom: 10px;
  border-top: 1px solid grey;
}

.counter_tips {
  display: flex;
  justify-content: center;
  align-items: center;
}
